{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<h2>{{ mld.module.title }}</h2>
				<h5><em>{{ mld.module.subtitle }}</em></h5>
				{% if mld.module.lang_collection %}
				<h6>{{ mld.module.lang_collection }} ({{ mld.module.year }})</h6>
				{% else %}
				<h6>({{ mld.module.year }})</h6>
				{% endif %}
			</div>
			<div class="row">
				<div class="col-5">
					<h5>{{ labels.lbl_mld_summary }}</h5>
					<p>{{ mld.module.summary }}</p>
					<h5>{{ labels.lbl_mld_details }}</h5>
					<ul>
						<li>{{ labels.lbl_mld_nply }} {{ mld.module.nplayers }}</li>
						<li>{{ labels.lbl_mld_pt }} {{ mld.module.etime }}</li>
						{% if mld.module.available %}
							<li>{{ labels.lbl_mld_download }} <a href="{{ mld.module.link.url }}" target="_blank">{{ mld.module.link.platform }}</a></li>
						{% endif %}
					</ul>
					{% if labels.lbl_mld_similar|length > 0 %}
						<h5>{{ labels.lbl_mld_similar }}</h5>
						<ul>
							{% for oply in mld.collection %}
								<li><a href="{{ url_for( 'module', lang = lang, title = oply.lang_slug ) }}">({{ oply.year }}) {{ oply.title }}</a></li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
				<div class="col-1"></div>
				<div class="col-5">
					<div class="row">
						<a href="{{ url_for( 'static', filename = 'content-img/' + mld.module.year + '-' + mld.module.global_slug + '-' + mld.module.lang + '-landscape.png' ) }}" target="_blank">
							<img src="{{ url_for( 'static', filename = 'content-img/' + mld.module.year + '-' + mld.module.global_slug + '-' + mld.module.lang + '-landscape.png' ) }}" class="img-fluid" alt="{{ mld.module.title }}">
						</a>
						<p>
							{% for lang in mld.lang %}
								{% if lang.available %}
									<a href="{{ url_for( 'module', lang = lang, title = lang.lang_slug ) }}"><span class="badge bg-success">{{ lang.lang }}</span></a>
								{% else %}
								<a href="{{ url_for( 'module', lang = lang, title = lang.lang_slug ) }}"><span class="badge bg-danger">{{ lang.lang }}</span></a>
								{% endif %}
							{% endfor %}
							<span class="badge bg-dark">{{ mld.module.system }}</span>&nbsp;<span class="badge bg-primary">{{ mld.module.type }}</span>
						</p>
					</div>
				</div>
			</div> 
		</div>
	</div>
</div>
{% endblock %}
