{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
        <h2>{{ ply.title }}</h2>
        <h5><em>{{ ply.subtitle }}</em></h5>
        <h6>{{ ply.collection }} ({{ ply.year }})</h6>
      </div>
      <div class="row">
        <div class="col-5">
            <h5>Resumen</h5>
            <p>{{ ply.summary }}</p>
            <h5>Detalles</h5>
            <ul>
              <li>Numero de jugadores: {{ ply.nplayers }}</li>
              <li>Tiempo de juego estimado: {{ ply.etime }}</li>
              {% if ply.available %}
              <li> Descarga: <a href="{{ ply.link.url }}" target="_blank">{{ ply.link.platform }}</a></li>
              {% endif %}
            </ul>
            {% if are_other %}
            <h5>En la misma colección</h5>
            <ul>
              {% for oply in same_collection %}
              <li><a href="{{ url_for( 'module', title = oply[ 1 ], lang = ply.lang ) }}">({{ oply[ 2 ] }}) {{ oply[ 0 ] }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="col-1"></div>
        <div class="col-5">
          <div class="row">
            <a href="{{ url_for( 'static', filename = 'content-img/' + ply.year + '-' + ply.global_slug + '-' + ply.lang + '-landscape.png' ) }}" target="_blank">
              <img src="{{ url_for( 'static', filename = 'content-img/' + ply.year + '-' + ply.global_slug + '-' + ply.lang + '-landscape.png' ) }}" class="img-fluid" alt="{{ ply.title }}">
            </a>
            <p>
              <span class="badge bg-light text-dark">{{ ply.lang }}</span>
              {% for lang in alternative_languages %}
              <a href="{{ url_for( 'module', title = lang[ 1 ], lang = lang[ 0 ] ) }}"><span class="badge bg-secondary">{{ lang[ 0 ] }}</span></a>
              {% endfor %}
              <span class="badge bg-dark">{{ ply.system }}</span>
              <span class="badge bg-primary">{{ ply.type }}</span>
            </p>
          </div>
          <div class="row">
            <a href="{{ url_for( 'hello' ) }}" role="button" class="btn btn-outline-primary btn-lg btn-block"><span class="fa-solid fa-store" aria-hidden="true"></span></a>
          </div>
        </div> 
      </div>
		</div>
	</div>
</div>
{% endblock %}
